
.Rproj.user
.Rhistory
.RData
.Ruserdata
/.luarc.json
quarto-ieee.Rproj


README.html
#template_files/
#template.tex
#template.html
#template.pdf

*.log
*.aux
*.synctex.gz
R0-Tsallis-entropy-sar.tex
R0-Tsallis-entropy-sar.pdf



/.quarto/
_freeze/
