
.Rproj.user
.Rhistory
.RData
.Ruserdata
/.luarc.json
quarto-ieee.Rproj


README.html
#template_files/
#template.tex
#template.html
#template.pdf

*.log
*.aux
*.synctex.gz
R0-Tsallis-entropy-sar.tex
R0-Tsallis-entropy-sar.pdf
Figures/fig-bias_mse_Tsallis-1.pdf
Figures/fig-densities-tsallis4-1.pdf
Figures/fig-optimal_order-tsallis-1.pdf
Figures/fig-tsallis-convergence_L18-1.pdf



/.quarto/
_freeze/
/R0-Tsallis_entropy_sar_cache
R0-Tsallis_entropy_sar.pdf
Figures/fig-bias_mse_Tsallis-1.pdf
Figures/fig-bias_mse_Tsallis-1.pdf
Figures/fig-densities-tsallis6-1.pdf
Figures/fig-optimal_order-tsallis-1.pdf
Figures/fig-tsallis-convergence_L18-1.pdf
R0-Tsallis_entropy_sar.tex
R0-Tsallis_entropy_sar.tex
Presentation/TsallisEntropyMeasureHeteroteneity.html
R0-Tsallis_entropy_sar.tex
